@page "/"
@using PNET_semestralka_blazor_app.Components.Modals
@using PNET_semestralka_blazor_app.Controllers
@using PNET_semestralka_blazor_app.Models
@inject HomeController HomeService
@inject Session session
@inject IJSRuntime JSRuntime



<PageTitle>Home</PageTitle>

<LoginModal />
<RegisterModal />

@if (session.IsLoggedIn)
{
    <p>Welcome, @session.UserEmail! (@session.Role)</p>
}
else
{
    <p>Not logged in.</p>
}

<section class="py-5 mt-5" style="display: flex; flex-direction: column; min-height: 90vh; margin: 0;">
    <div class="text-center">
        @if (products == null && errorMessage == null)
        {
            <p>Načítám...</p>
        }
        else if (products?.Any() == true)
        {       
            <div class="container">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
                    <!-- Produkty -->
                     @foreach (var product in products)
                    {
                        <div class="col">
                            <div class="card d-flex flex-column" style="min-height: 68vh; max-height: 68vh;padding: 1rem;">
                                <div class="card-body text-center">
                                    <!-- Obraz produktu -->
                                    <div>
                                        <img src="img/produkty/@product.Photo"
                                             alt="@product.Nazev"
                                             class="bd-placeholder-img card-img-top"
                                             style="width: auto; height: 200px; object-fit: cover;">
                                    </div>
                                    <!-- Jmeno produktu -->
                                    <div class="card-body">
                                        <h5 id="jmeno_produktu@product.Id_produkt" class="card-title text-start">
                                            @product.Nazev
                                        </h5>
                                        <p id="details@product.Id_produkt" class="card-text text-start">
                                            @product.Popis
                                        </p>
                                    </div>
                                </div>
                                <div class="align-bottom text-end">
                                    <!-- Cena produktu -->
                                    <p id="price@product.Id_produkt" class="cart-text" style="font-size: 1.5em; color: green;">
                                        @product.Cena Kč
                                    </p>

                                    @if(session.Role == "Customer")
                                    {
                                        <button @onclick="() => PridatDoKosiku(product)"
                                                class="btn btn-warning">
                                            Přidat do košíku
                                        </button>
                                    }

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        else if (products?.Any() == false)
        {
            <p>Žádné produkty k zobrazení</p>
        }
    </div>
</section>



